dns_load_balancer_server/db_conf.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:element name="db">
 <xs:complexType>
 <xs:sequence>
	<xs:element name="server" minOccurs="1" maxOccurs="1" type="xs:string" />
	<xs:element name="database" minOccurs="1" maxOccurs="1" type="xs:string" />
	<xs:element name="username" minOccurs="1" maxOccurs="1" type="xs:string" />
	<xs:element name="password" minOccurs="1" maxOccurs="1" type="xs:string" />
 </xs:sequence>
 </xs:complexType>
</xs:element>
</xs:schema>
